@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Fredoka";
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  touch-action: none;
  background: linear-gradient(to bottom left, #ff006a, #ffa600);
  background-position: center;
  background-size: cover;
}

#dots {
  position: absolute;
  top: -50vmax;
  left: -50vmax;
  width: 175vmax;
  height: 175vmax;
  background-image: url('Media/dots-transparent.png');
  z-index: -1;
  pointer-events: none;
  background-repeat: repeat;

  will-change: transform;
}

.cntr {
  text-align: center;
}

#Lockscreen {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  position: relative;
  bottom: 0;
  transition: bottom .75s ease-in-out;
}

#Lockscreen>div>img {
  width: 17dvh;
  height: 17dvh;
  border-radius: 5em;
  object-fit: cover;
}

#Lockscreen>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Lockscreen>div>#Password {
  padding: 0.8em 2em;
  width: 20em;
  min-height: 3.5em;
  border-radius: 5em;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, "Arial";
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#Lockscreen>div>#Password:empty::before {
  content: attr(data-placeholder);
  color: rgba(255, 255, 255, 0.925);
  font-size: 2dvh;
  font-weight: 400;
  pointer-events: none;
}

#Lockscreen>div>h2 {
  margin: 1.5em 0 1.5em 0;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Arial";
  font-size: 1.3rem;
}

footer {
  background-color: #ffffffcc;
  height: 10dvh;
  padding: 1dvh;
  position: fixed;
  z-index: 1000;
  bottom: calc(-10dvh - 3em - 2dvh);
  margin: 2em;
  margin-top: 1em;
  border-radius: 1.5em;
  transition: bottom .5s ease-in-out;
}

main {
  display: flex;
  justify-content: center;
}

.icon {
  height: 8dvh;
  width: 8dvh;
  border-radius: 1em;
  border: none;
  background-color: grey;
  cursor: pointer;
}

@keyframes PopIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.window {
  height: 10em;
  width: 20em;

  background-color: #ffffff50;
  position: absolute;
  display: grid;
  grid-template-rows: 3dvh 1fr;
  border-radius: .5em;

  resize: both;
  overflow: hidden;
  min-width: 10em;
  min-height: 6em;

  animation: PopIn 0.15s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

.window>header {
  background-color: #ffffff;
}

.window>div {
  overflow: auto;
}


.exit, .minimize {
  width: 2dvh;
  height: 2dvh;
  border-radius: 5em;
  float: right;
  margin: .5dvh;
  border: none;
  color: white;
  cursor: pointer;
  text-align: center;
}

.exit {
  background-color: rgb(255, 74, 74);
}

.minimize {
  background-color: rgb(255, 189, 46);
}

#home {
  height: 8dvh;
  width: 8dvh;
  background-image: url(Media/Home2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#notes {
  height: 8dvh;
  width: 8dvh;
  background-image: url(Media/notes4.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#photos {
  height: 8dvh;
  width: 8dvh;
  background-image: url(Media/Photos.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.windowImage {
  width: 25em;
  height: 20em;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 3em;
  border-style: solid;
  border-color: #ffffff;
}

#contactText {
  font-size: 2em;
}

.creative {
  width: auto;
  height: 40dvh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 1em;
  display: grid;
}
