* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: #366397;
  background-image: url(Media/noisy_net3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  cursor: url('Media/paw.gif'), auto !important;
}

.cntr {
  text-align: center;
}

#container {
  width: 100%;
  max-width: 800px;
  height: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  height: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

#header {
  height: 200px;
  display: grid;
  grid-template-rows: 80% 20%;
}

#headerUp {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-wrap: wrap;
  margin: auto auto 0 auto;
  border-radius: 10px 10px 0 0;
  background-color: white;
}

#headerUp h1 {
  font-size: 4em;
  margin: 0 50px;
}

#headerDown {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.5em;

  background-color: white;

  border-radius: 10px;
}
#header h5 {
  text-align: center;
  margin: 0 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
#header h5:hover {
  background-color: black;
  color: white;
}

#content {
  height: 100%;
  /* display: grid;
  grid-template-rows: 50% 50%; */
  overflow: hidden;
}

#contentUp {
  text-align: center;
}

#contentUp::-webkit-scrollbar {
  width: 0 !important;
}

#contentDown {
  height: 100%;
  padding: 10px;
}

#contents {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#contents > div {
  transition: height 0.3s ease;
  overflow: auto;
}

.content {
  background-color: #fafafa0a;
  backdrop-filter: blur(5px);
  margin: 10px;
  border-radius: 20px;
  border: 4px double white;
  padding: 5px;
  color: white;
  overflow: auto;
}

.contents {
  display: none;
}

/* FROM ORIGINAL STYLES.CSS*/

a {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

.vert{
  writing-mode: vertical-rl;
}
.centerText {
  text-align: center;
}
.bold {
  font-weight: bold;
}

hr {
  border-width: 0;
  border-top-width: 2.5px;
  border-style:dashed;
  color: #9caca8;
}

.shorthr {
  margin: 2em;
}

.hidden {
  display: none;
}

.noDot {
  list-style-type: none;
}
.noPadLi {
  padding: 0;
}
.padLi {
  padding-left: 40px;
}

.zoomL {
  z-index: 200;
  position: relative;
  transition: transform .2s;
  transform-origin: left;
}
.zoomL:hover {
  transform: scale(1.2);
  transform-origin: left;
}

.emojiThing {
  display: inline;
  width: auto !important;
}

.small {
height: 1.3em;
}

.medium {
height: 4em;
}

.big {
height: 7em;
}

.color {
  width: 1em;
  height: 1em;
  background-color: #5c448d;
  border-radius: 50%;
}





/*----------------------------------------------------*/
/*----------------------People------------------------*/
/*----------------------------------------------------*/

.peopleTemplate {
  text-align: center;
}

.peopleDesc > p {
  padding: 0 20px;
}

.peopleTemplate > *:nth-child(-n+2) {
  display: inline-block;
}

.peopleDesc {
  margin: 0 50px;
  border-radius: 25px;
  border-width: 2px;
  border-style:solid;
}

.peopleDescNO {
  margin: 0 50px;
  border-radius: 25px;
  border-width: 2px;
  border-style:solid;
}

.pdL{
  display: grid;
  grid-template-columns: 20% 80%;
}
.pdR{
  display: grid;
  grid-template-columns: 80% 20%;
}

.pdL {
  text-align: right;
}
.pdL .peopleImgContainer {
  left: -20px;
}

.pdR {
  text-align: left;
}
.pdR .peopleImgContainer {
  left: 20px;
}

.peopleImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  border-radius: 50%;
}

.peopleImgContainer {
  width: 125px;
  height: 125px;
  margin: auto;
  position: relative;
  border-width: 2.5px;
  border-style:double;
  border-radius: 50%;
  transform: scale(1.3);
  transition: .2s;
}

.peopleImgContainer:hover {
  transform: scale(1.5);
}

/*----------------------------------------------------*/
/*----------------------DNI bbg-----------------------*/
/*----------------------------------------------------*/

.dniHeader {
  text-align: center;
}

.dniContainer {
  display: grid;
  grid-template-columns: 50% 50%;
}

.dniContainer > * {
  margin: 12px;
}

.leftDni {
  background-image: url(Media/noisy_net1.png);
  border-radius: 10%;
  border-width: 2px;
  border-style:solid;
}

.rightDni {
  background-image: url(Media/noisy_net1.png);
  border-radius: 10%;
  border-width: 2px;
  border-style:solid;
}

.tickmark {
  margin: 0px;
  text-align: center;
  padding-top: 8px;
}

.xmark {
  text-align: center;
  margin: 0px;
  padding-top: 8px;
}

.infoBanner {
  margin: 0 50px;
  border-radius: 25px;
  border-width: 2px;
  border-style:solid;
  margin: 0 auto;
  width: 100%;
}

.infoBannerKoolaid {
margin: 12px;   
}

.iwcImg {
  background-image: url(Media/cappuccinovacay.png);
  background-size: cover;
  background-position: center;
}

.iwcImg2 {
  background-image: url(Media/almondcookieDADDY.png);
  background-size: cover;
  background-position: center;
}

/*-----------------------------------------------------*/
/*------------------------info-------------------------*/
/*-----------------------------------------------------*/

#infographic {
  text-align: center;
  display: grid;

  grid-template-rows: auto auto auto;
  gap:2em ;
}

.accText {
  letter-spacing: 0.4em;
  font-size: 1em;
  writing-mode: vertical-lr;
  font-weight: bold;
}

#accounts {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 25px;
  border-width: 2.5px;
  border-style:dashed;
  overflow: auto;

  height: 38vh;
}

#accounts > .acc {
  padding: 2em;
  display: grid;
  column-gap: 1em;
}

.accountImg {
  width: 300px;
  height: 300px; 
  border-radius: 45px;
  border-width: 3px;
  border-style:inset;
}

.accParagraph {
  margin: auto;
}

.leftAcc {
  grid-template-columns: calc(1em + 32px) auto auto;
}
.rightAcc {
  grid-template-columns: auto auto calc(1em + 32px);
}

#thanks {
  position: relative;
  top: 50px;
}

/*----------------------------------------------------*/
/*------------------------Blog------------------------*/
/*----------------------------------------------------*/

.generalBlog {
  background-image: url(Media/noisy_net1.png);
  margin: 30px auto;
  text-align: center;
  width: 500px;
  height: auto;
  border-radius: 45px;
  border-width: 2px;
  border-style:solid;
}

.generalBlog > * {
  margin: 12px;
}

.blogText {
  text-align: center;
}

.blogContainer {
  margin: 0 auto;
  text-align: center;
  width: 250px;
  height: auto;
  border-radius: 45px;
  border-width: 2px;
  border-style: dashed;
}

/*------------------Random Blog stuff------------------*/

#memberTags {
  text-align: left;
}

.blogBannerfunn {
  margin: 0 50px;
  border-radius: 25px;
  border-width: 2.5px;
  border-style:double;
  margin: 0 auto;
  width: 100%;
}

#custom-hr1 {
  height: 60px; /* Adjust the height as needed */
  background-image: url('https://cdn.discordapp.com/attachments/763856452947279922/1150446608702525460/85CB2601-2056-4A34-82CD-48F9EF9E359C.png'); /* Replace with your custom line image path */
  background-repeat: no-repeat; /* Repeat the image horizontally */
  background-size: 100% auto; /* Ensure the image covers the entire width */
}

#custom-hr2 {
  height: 60px; /* Adjust the height as needed */
  background-image: url('https://cdn.discordapp.com/attachments/763856452947279922/1150502858421174302/6D3DFC45-B618-42DA-BBEE-E4CB38FC1AA1.png'); /* Replace with your custom line image path */
  background-repeat: no-repeat; /* Repeat the image horizontally */
  background-size: 100% auto; /* Ensure the image covers the entire width */
}

/*-----------------------------------------------------*/
/*------------------------Other------------------------*/
/*-----------------------------------------------------*/

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F3F5F4;
  border-radius: 100px;
}
